{
  "extends": "eslint:recommended",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "plugins": ["react", "@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "chrome": true
  },
  "rules": {
    "semi": [1, "always"]
  }
}
